.stepscss{
 padding-bottom: 50px;
    padding-top: 50px;

}
.boldtext{
    font-weight: bold;
}
.totalSection{
    padding-bottom: 10px;
    padding-top: 10px;
}
.ant-steps-horizontal.ant-steps-label-horizontal{
    display: flex;
}
